*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}


ul{
    list-style-type: none;
    display: flex !important;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: grid;
    align-items: center;
    justify-content: center;
    
}
#index{
    height: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 40px;
}
body{
    display:grid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: larger;
    background-color: whitesmoke;
}
h2{
    color: red;
}
.menu{
    display: flex;
    justify-content: end;
    align-items:flex-end;
    padding: 10px 15px;
    position: relative;
    margin: 20px;
}
p{
    text-align: right;
}

.menu-list{
    margin: 0 10px;
}

.spacer{
    gap: 10px;
    display:block; 
}
.btn{
    text-decoration: none;
    color: black;
}
.btn:hover{
    color: red;
}
img{
    width: 600px;
    border-radius: 50px;
    
}
footer{
    padding: 10px;
    text-align: center;
    color: black;
}